ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #dadce1;
}
/* Top Navigation Bar */
/* <nav> */
.navbar {
	position: sticky;
	top: 0;
	height: 60px;
	background-color: #242526;
	padding: 0 1rem;
	border-bottom: 1px solid #474a4d;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	z-index: 10;
}
.searchbar-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}
.searchbar-container .link-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.searchbar-container .link-container .facebook-img {
	width: 42px;
	cursor: pointer;
}
.searchbar-container .link-container .burger-img {
	width: 24px;
	padding: 0.875rem;
	border-radius: 8px;
	cursor: pointer;
}
.searchbar-container .link-container .burger-img:hover {
	background-color: #484a4d;
}
.searchbar-container .burger-active {
	outline: 2px solid #0080ff;
	border-radius: 8px;
}
@media (min-width: 1100px) {
	.searchbar-container .link-container:last-child {
		display: none;
 }
	.searchbar-container .burger-active {
		display: none;
 }
}
.searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #484a4d;
	border-radius: 9999px;
	padding: 0.875rem;
	cursor: pointer;
}
.searchbar img {
	width: 16px;
}
.searchbar p {
	display: none;
	color: #dadce1;
	font-size: 0.875rem;
	padding-right: 4rem;
}
.main-doc {
	display: none;
}
.main-doc img {
	width: 32px;
}
@media (min-width: 1100px) {
	.main-doc {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		place-items: center;
 }
	.main-doc div {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		cursor: pointer;
 }
	.main-doc div:hover {
		background-color: #525357;
 }
	.main-doc .main-doc-first {
		border-bottom: 2px solid #0080ff;
 }
}
/* <ul> */
.navbar-nav {
	grid-column: 3;
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
}
/* <li> */
.nav-item {
	width: calc(60px * 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Icon Button */
.icon-button {
	cursor: pointer;
	width: calc(60px * 0.5);
	height: calc(60px * 0.5);
	background-color: #484a4d;
	border-radius: 50%;
	padding: 5px;
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: filter 300ms;
}
.icon-button:hover {
	filter: brightness(1.2);
}
.icon-button svg {
	fill: #dadce1;
	width: 20px;
	height: 20px;
}
/* Dropdown Menu */
.dropdown {
	position: absolute;
	top: 58px;
	width: 200px;
	transform: translateX(-45%);
	background-color: #242526;
	border: 1px solid #474a4d;
	border-radius: 8px;
	padding: 1rem;
	overflow: hidden;
	transition: height 500ms ease;
}
@media (min-width: 1100px) {
	.dropdown {
		width: 300px;
 }
}
.menu {
	width: 100%;
}
.menu-item {
	cursor: pointer;
	height: 50px;
	display: flex;
	align-items: center;
	border-radius: 8px;
	transition: background 500ms;
	padding: 0.5rem;
}
.menu-item:hover {
	background-color: #525357;
}
.menu-item .icon-button {
	margin-right: 0.5rem;
}
.menu-item .icon-button:hover {
	filter: none;
}
.icon-right {
	margin-left: auto;
}
/* CSSTransition classes */
.menu-primary-enter {
	position: absolute;
	transform: translateX(-110%);
}
.menu-primary-enter-active {
	transform: translateX(0%);
	transition: all 500ms ease;
}
.menu-primary-exit {
	position: absolute;
}
.menu-primary-exit-active {
	transform: translateX(-110%);
	transition: all 500ms ease;
}
.menu-secondary-enter {
	transform: translateX(110%);
}
.menu-secondary-enter-active {
	transform: translateX(0%);
	transition: all 500ms ease;
}
.menu-secondary-exit-active {
	transform: translateX(110%);
	transition: all 500ms ease;
}
