$primary-color: #0080ff;

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header {
	margin-bottom: 3.5rem;
	h1 {
		font-size: 3.75rem;
		color: $primary-color;
		margin-bottom: 1.25rem;
	}
	p {
		font-size: 1.375rem;
		width: 35ch;
		letter-spacing: 1px;
	}
}

@media (min-width: 900px) {
	main {
		flex-direction: row;
	}
	header {
		text-align: start;
		p {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 1080px) {
	header {
		h1 {
			font-size: 4rem;
		}
		p {
			font-size: 1.75rem;
		}
	}
}

section {
	min-width: 276px;
	width: 60%;
	max-width: 396px;
	.wrapper {
		width: 100%;
		background-color: #242526;
		padding: 1rem 0;
		border-radius: 4px;
		box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
		margin-bottom: 2rem;
	}
	.login-btn {
		width: 90%;
		padding: 0.75rem 0;
		border: none;
		border-radius: 4px;
		font-size: 1.375rem;
		font-weight: bold;
		color: #fff;
		background-color: $primary-color;
		margin-bottom: 1rem;
		cursor: pointer;
		&:hover {
			opacity: 0.9;
		}
	}
	.forgot {
		color: $primary-color;
		font-size: 0.875rem;
		margin-bottom: 1.5rem;
		&::after {
			content: "";
			display: block;
			padding-top: 1.25rem;
			width: 100%;
			height: 100%;
			margin-right: -100%;
			border-bottom: 1px solid #151616;
		}
		.actual-text {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.sign-up-btn {
		padding: 0.75rem 0.75rem;
		border: none;
		border-radius: 4px;
		font-size: 1.125rem;
		font-weight: bold;
		color: #fff;
		background-color: #42b72a;
		margin-bottom: 0.5rem;
		cursor: pointer;
		&:hover {
			opacity: 0.9;
		}
	}
	.after-text {
		font-size: 0.875rem;
		b {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
