.bookmark-column::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #151616;
}
.bookmark-column::-webkit-scrollbar {
	width: 8px;
	background-color: #151616;
}
.bookmark-column::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #525357;
	visibility: hidden;
}
.bookmark-column:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

.sidebar-column::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #151616;
}
.sidebar-column::-webkit-scrollbar {
	width: 8px;
	background-color: #151616;
}
.sidebar-column::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #525357;
	visibility: hidden;
}
.sidebar-column:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}
