.user-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-image-container::after {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 32px;
	background-color: #f3425f;
	border: 1px solid black;
	border-radius: 9999px;
	height: 8px;
	width: 8px;
}

.user-online::after {
		background-color: #45bd62;
	}
