.add-container {
	margin: 1rem auto;
	min-height: 124px;
	min-width: 400px;
	max-width: 600px;
	border-radius: 8px;
	background-color: #242526;
	color: #dadce1;
	display: grid;
	grid-template-rows: 1fr 1px 1fr;
}
.add-container-photo {
	margin: 1rem auto;
	min-height: 124px;
	min-width: 400px;
	max-width: 600px;
	border-radius: 8px;
	background-color: #242526;
	color: #dadce1;
	display: grid;
	grid-template-rows: 1fr 1fr 1px 1fr;
}

.first-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 0;
	padding-left: 0.5rem;
	input {
		width: 100%;
		background-color: #484a4d;
		padding: 0.75rem;
		margin-right: 0.5rem;
		font-size: 1rem;
		color: #dadce1;
		border: none;
		border-radius: 9999px;
		cursor: pointer;
		&::placeholder {
			color: #dadce1;
		}
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: #525357;
		}
	}
}

.hr {
	border: none;
	border-bottom: 1px solid #484a4d;
}

.second-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	span {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.75rem;
		border-radius: 8px;
		cursor: pointer;
		&:hover {
			background-color: #484a4d;
		}
		img {
			width: 28px;
			margin-right: 0.75rem;
		}
		p {
			font-size: 0.875rem;
			font-weight: 700;
		}
		label {
			display: flex;
			align-items: center;
			cursor: pointer;
			img {
				width: 28px;
				margin-right: 0.75rem;
			}
			p {
				font-size: 0.875rem;
				font-weight: 700;
			}
		}
		input {
			display: none;
		}
	}
}

.post-btn {
	border: none;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 700;
	background-color: #484a4d;
	padding: 0.75rem 3rem;
	border-radius: 9999px;
	cursor: not-allowed;
}
.post-btn-active {
	border: none;
	color: #fff;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.75rem 3rem;
	border-radius: 9999px;
	background-color: #0080ff;
	cursor: pointer;
}
