* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #151616;
	color: #fff;
	font-family: roboto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
