@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #151616;
	color: #fff;
	font-family: roboto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
	width: 0.875rem;
}

body::-webkit-scrollbar-track {
	background-color: #424242;
}

body::-webkit-scrollbar-thumb {
	background-color: #686868;
	border-left: 2px solid #424242;
	border-right: 2px solid #424242;
}
